@model SIREON.Reservacione
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Nueva reservación | SIREON";
}
<!DOCTYPE html>
<html lang="en">

<head>


</head>
<body>
    <div class="row">
        <div class="col-lg-12 equel-grid">
            <div class="grid" style=" box-shadow: 0 0 10px -5px #bcbebf;">
                <p class="grid-header" style="border-left-color:green">Detalles de reservación</p>
                <div class="grid-body">
                    <div class="item-wrapper">
                        <form>
                            <div class="form-row align-items-center justify-content-between">

                                @{

                                    var FechayHora = DateTime.Now;
                                    var SelFecha = FechayHora.ToString("dd/MM/yyyy");
                                }
                                <div class="col-lg-2 col-md-2 col-sm-2  showcase_content_area">
                                    <label>Fecha:</label>
                                    <input type="text" class="form-control" id="fecha" placeholder="AAAA/MM/DD" value="@SelFecha" required readonly>

                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 showcase_text_area">
                                    <label>Hora de entrada:</label>
                                    @*<input type="time" class="form-control" id="Horaentrada" min="08:00" max="20:30" step="900" placeholder="HH:MM" value="10:00:00" required>*@

                                    <select class="custom-select my-1 mr-sm-2" id="Horaentrada" required>
                                        <option value="" disabled selected>Elige...</option>
                                        <option value="08:00:00">08:00 AM</option>
                                        <option value="08:30:00">08:30 AM</option>
                                        <option value="09:00:00">09:00 AM</option>
                                        <option value="09:30:00">09:30 AM</option>
                                        <option value="10:00:00">10:00 AM</option>
                                        <option value="10:30:00">10:30 AM</option>
                                        <option value="11:00:00">11:00 AM</option>
                                        <option value="11:30:00">11:30 AM</option>
                                        <option value="12:00:00">12:00 PM</option>
                                        <option value="12:30:00">12:30 PM</option>
                                        <option value="13:00:00">01:00 PM</option>
                                        <option value="13:30:00">01:30 PM</option>
                                        <option value="14:00:00">02:00 PM</option>
                                        <option value="14:30:00">02:30 PM</option>
                                        <option value="15:00:00">03:00 PM</option>
                                        <option value="15:30:00">03:30 PM</option>
                                        <option value="16:00:00">04:00 PM</option>
                                        <option value="16:30:00">04:30 PM</option>
                                        <option value="17:00:00">05:00 PM</option>
                                        <option value="17:30:00">05:30 PM</option>
                                        <option value="18:00:00">06:00 PM</option>
                                        <option value="18:30:00">06:30 PM</option>
                                        <option value="19:00:00">07:00 PM</option>
                                        <option value="19:30:00">07:30 PM</option>
                                        <option value="20:00:00">08:00 PM</option>
                                        <option value="20:30:00">08:30 PM</option>
                                    </select>
                                </div>

                                <div class="col-lg-2 col-md-2 col-sm-2 showcase_text_area">
                                    <label>Hora de salida:</label>
                                    @*<input type="text" class="form-control" id="Horasalida" placeholder="HH:MM" value="" required readonly>*@
                                    <select class="custom-select my-1 mr-sm-2" id="Horasalida" required disabled>
                                        <option value="" disabled selected>HH:MM</option>
                                        <option value="08:00:00">08:00 AM</option>
                                        <option value="08:30:00">08:30 AM</option>
                                        <option value="09:00:00">09:00 AM</option>
                                        <option value="09:30:00">09:30 AM</option>
                                        <option value="10:00:00">10:00 AM</option>
                                        <option value="10:30:00">10:30 AM</option>
                                        <option value="11:00:00">11:00 AM</option>
                                        <option value="11:30:00">11:30 AM</option>
                                        <option value="12:00:00">12:00 PM</option>
                                        <option value="12:30:00">12:30 PM</option>
                                        <option value="13:00:00">01:00 PM</option>
                                        <option value="13:30:00">01:30 PM</option>
                                        <option value="14:00:00">02:00 PM</option>
                                        <option value="14:30:00">02:30 PM</option>
                                        <option value="15:00:00">03:00 PM</option>
                                        <option value="15:30:00">03:30 PM</option>
                                        <option value="16:00:00">04:00 PM</option>
                                        <option value="16:30:00">04:30 PM</option>
                                        <option value="17:00:00">05:00 PM</option>
                                        <option value="17:30:00">05:30 PM</option>
                                        <option value="18:00:00">06:00 PM</option>
                                        <option value="18:30:00">06:30 PM</option>
                                        <option value="19:00:00">07:00 PM</option>
                                        <option value="19:30:00">07:30 PM</option>
                                        <option value="20:00:00">08:00 PM</option>
                                        <option value="20:30:00">08:30 PM</option>
                                        <option value="21:00:00">09:00 PM</option>
                                    </select>

                                </div>
                                <br />

                                <label>Disponibilidad:</label>
                                <img src="~/Content/images/help.png" alt="check" id="help" width="70" style="display:block" />
                                <img src="~/Content/images/check.png" alt="check" id="check" width="70" style="display:none" />
                                <img src="~/Content/images/warning.png" alt="Advertencia" id="warn" width="70" style="display:none" />

                            </div>

                            <br />
                            <div class="grid-title" style="text-align:center">
                                <spam style="display:none;" id="Disp"></spam>
                                <input type="text" id="msg" value="" style="display:none" />
                            </div>
                            <div class="row" style="justify-content:space-between">
                                @*<a href='@Url.Action("Index", "Reservaciones")' button type="button" class="btn btn-danger">Regresar</a>
                                    <button class="btn btn-success" id="Consultar">Consultar disponibilidad</button>*@
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 equel-grid">
            <div class="grid" style=" box-shadow: 0 0 10px -5px #bcbebf;">
                <p class="grid-header" style="border-left-color:green">Integrantes</p>
                <div class="grid-body">
                    <div class="item-wrapper">
                        <form>
                            <h4>Responsable</h4>
                            <br />
                            @if ((User.IsInRole("Operador")))
                            {
                                <div class="row" style="justify-content:space-around; justify-content:space-around">
                                    <div class="col-lg-4 col-md-4 col-sm-4 my-1">
                                        <label class="sr-only" for="inlineFormInputName">Name</label>
                                        <input type="text" class="form-control" id="IdAspNetNombre2" placeholder="Nombre del responsable" value="" readonly>

                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 my-1">
                                        <label class="sr-only" for="inlineFormInputGroupUsername">Usuario</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <img src="~/Content/images/at.png" alt="check" width="33" />
                                            </div>

                                            <input type="text" class="form-control" id="IdAspNetUsers2" placeholder="Matrícula/Código" value="" required>

                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 my-1">
                                        <div class="input-group">

                                            <input type="button" class="btn btn-primary" onclick="BtnClick()" value="Consultar">

                                        </div>
                                    </div>
                                    <br />
                                    <div class="col-lg-12 col-md-12 col-sm-2" id="msg2" style="text-align:center">
                                    </div>
                                </div>
                            }
                            else
                            {
                        <div class="form-row align-items-center justify-content-between">
                            <div class="col-lg-5 col-md-5 col-sm-5 my-1">
                                <label class="sr-only" for="inlineFormInputName">Name</label>
                                <input type="text" class="form-control" id="IdAspNetNombre" placeholder="" value="" readonly>

                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 my-1">
                                <label class="sr-only" for="inlineFormInputGroupUsername">Usuario</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <img src="~/Content/images/at.png" alt="check" width="33" />
                                    </div>

                                    <input type="text" class="form-control" id="IdAspNetUsers" placeholder="" value="" readonly>

                                </div>
                            </div>
                            <br/>
                            <div class="col-lg-12 col-md-12 col-sm-2" id="msg2" style="text-align:center">
                            </div>
                        </div>
                            }
                            <div id="integrantes" style="display:none">
                                <hr />
                                <h4>Invitados</h4>
                                <br />
                                <!--Invitado-->
                                <div class="form-row align-items-center justify-content-between">
                                    <div class="col-lg-3 col-md-3 col-sm-3 my-1">
                                        <select class="custom-select my-1 mr-sm-2" id="TipoInvitado" runat="server" ClientIDMode="Static" required>
                                            <option value="TipoInvitado1" selected id="TipoInvitado1">Tipo de invitado</option>
                                            <option value="Estudiante/Profesor" id="TipoInvitado2">Estudiante/Profesor</option>
                                            <option value="Invitado" id="TipoInvitado3">Invitado</option>
                                        </select>

                                    </div>
                                    <!--Tipo de invitado-->
                                    <div class="col-lg-3 col-md-3 col-sm-3 my-1" style="display:block" id="NomInvitado">
                                        <label class="sr-only" for="inlineFormInputName">Name</label>
                                        <input type="text" class="form-control" id="NomInvitado" placeholder="Nombre de invitado" readonly>
                                    </div>


                                    <div class="col-lg-3 col-md-3 col-sm-3 my-1" style="display:block" id="IdInvitado">
                                        <label class="sr-only" for="inlineFormInputGroupUsername">Usuario</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <img src="~/Content/images/at.png" alt="check" width="33" />
                                            </div>
                                            <input type="text" class="form-control" id="IdInvitado" placeholder="Matrícula/Documento" readonly>
                                        </div>
                                    </div>
                                    <!-- Fin Tipo de invitado-->
                                    <!--NombreEstudiante/Profesor-->
                                    <div class="col-lg-3 col-md-3 col-sm-3 my-1" style="display:none" id="NombreDeEstudiante">
                                        <label class="sr-only" for="inlineFormInputName">Name</label>
                                        <input type="text" class="form-control" id="NombreInvitado" placeholder="Nombre de invitado" value="" readonly>
                                    </div>
                                    <!-- Fin NombreEstudiante/Profesor-->
                                    <!--UsuarioEstudiante/Profesor-->
                                    <div class="col-lg-3 col-md-3 col-sm-3 my-1" style="display:none" id="UsuarioDeEstudiante">
                                        <label class="sr-only" for="inlineFormInputGroupUsername">Usuario</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <img src="~/Content/images/at.png" alt="check" width="33" />
                                            </div>
                                            <input type="text" class="form-control" id="UsuarioInvitado" placeholder="gm20-0469" value="df16-0469" maxlength="9" required>
                                        </div>
                                    </div>
                                    <!--Fin UsuarioEstudiante/Profesor-->
                                    <!--NombreInvitado-->
                                    <div class="col-lg-3 col-md-3 col-sm-3 my-1" style="display:none" id="NombreDeInvitado">
                                        <label class="sr-only" for="inlineFormInputName">Name</label>
                                        <input type="text" class="form-control" id="NombreInvitado2" placeholder="Gabriela Marte" value="Darwin Ferreyra" maxlength="30" required>
                                    </div>
                                    <!--Fin NombreInvitado-->
                                    <!--CedulaInvitado-->
                                    <div class="col-lg-3 col-md-3 col-sm-3 my-1" style="display:none" id="CedulaDeInvitado">
                                        <label class="sr-only" for="inlineFormInputGroupUsername">Usuario</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="CedulaInvitado" placeholder="001-2345678-9" value="001-2345678-9" maxlength="13" required>
                                        </div>
                                    </div>
                                    <!--Fin CedulaInvitado-->

                                    <div class="col-auto my-1">
                                        <button class="btn btn-primary" id="ConsInvitado" style="display:none">Consultar</button>
                                        <button class="btn btn-success" id="addToList" style="display:none">Agregar</button>
                                    </div>
                                </div>
                                <!--Fin de invitado-->
                            </div>

                        </form>
                        <br />
                        <br />
                        <div class="table-responsive">
                            <table class="table table-striped" id="detailsTable" style="display:none">

                                <thead>
                                    <tr>
                                        <th style="width:20%">Tipo</th>
                                        <th style="width:40%">Nombre</th>
                                        <th style="width:30%">Matrícula/Cédula</th>
                                        <th style="width:20%"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <br />
                        <br />
                        <div class="row" style="text-align:center">
                            <button class="btn btn-success" id="saveOrder" style="display:none; text-align:center">Reservar</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <br />

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    @if ((User.IsInRole("Operador")))
    {
        <script>
            $("#IdAspNetUsers2").change(function () {
                $("#IdAspNetNombre2").val(" ")
                $("#integrantes").hide(0)
                $("#est").remove();
                $("#est2").remove();
            })

            //Consultar usuario en OPERADOR
            function BtnClick() {
                $("#est").remove();
                var data = JSON.stringify({
                    IdAspNetUsers2: $("#IdAspNetUsers2").val(),
                });

                console.log(data);

                $.when(ConsMat(data)).then(function (response) {
                    console.log(response);
                }).fail(function (err) {
                    console.log(err);
                });

            }

            function ConsMat(data) {
                return $.ajax({

                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: "/Reservaciones/Usuario2",
                    data: data,
                    success: function (result3) {
                        //alert(data)
                        //data = JSON.parse(data);
                        console.log(result3)
                        $("#IdAspNetNombre2").val($.trim(result3[0]) + " " + result3[1]);
                        
                        if (result3[4] == "El usuario no tiene límites de uso") {
                            $("#integrantes").show(0)
                        }
                        else {
                            $("#integrantes").hide(0)
                            $("#msg2").append('<br /><p id="est">' + result3[4] + '</p>')
                            swal("¡Ups!", result3[4], "warning");
                        }
                    },
                    error: function () {
                        swal("¡Error!", "Favor verificar los datos", "warning");
                    }
                });

            }

        </script>

    }
    else
    {
        <script>
            
            window.onload = function () {
                $.ajax({
                    
                    url: "/Reservaciones/Usuario5",
                    method: "GET",
                    success: function (result3) {
                        //alert(data)
                        //data = JSON.parse(data);
                        console.log(result3)
                        $("#IdAspNetNombre").val($.trim(result3[0]) + " " + result3[1]);
                        $("#IdAspNetUsers").val($.trim(result3[2]));
                        

                        if (result3[3] == "El usuario no tiene límites de uso") {
                            $("#integrantes").show(0)
                        }
                        else {
                            $("#integrantes").hide(0)
                            $("#msg2").append('<br/>')
                            $("#msg2").append('<br/>')
                            $("#msg2").append('<p id="est">' + result3[3] + '</p>')
                            swal("¡Ups!", "Usted tiene el uso limitado. No podrá realizar la reservación", "warning");
                        }
                    },
                    error: function () {
                        swal("¡Error!", "Favor verificar los datos", "warning");
                    }
                });

            }

        </script>
        @*<script>
            //Consultar usuario de estudiante
            window.onload = function () {
                $.ajax({
                    url: "/Reservaciones/Usuario",
                    method: "GET",
                    success: function (data) {
                        //alert(data)
                        //data = JSON.parse(data);
                        console.log(data)
                        for (var i = 0; i < data.length; i++) {

                            $("#IdAspNetNombre").val($.trim(data[i].Nombr) + " " + data[i].Apellid);
                            $("#IdAspNetUsers").val(data[i].Matricul);
                        }

                        $.each(data, function (i, value) {
                            console.log('Value of ' + i + ' is : ' + value);
                        })
                    },
                    error: function () {
                        alert("Error, Usuario no detectado")
                    }
                })
            }

        </script>*@
    }

    <script>
        //Guardar reservacion
        $("#TipoInvitado").change(function () {
            var selectedValue = $(this).val();
            if (selectedValue == "Invitado") {
                $("#addToList").click(function (e) {
                    e.preventDefault();

                    if ($.trim($("#TipoInvitado").val()) == "" || $.trim($("#NombreInvitado2").val()) == "" || $.trim($("#CedulaInvitado").val()) == "") return;
                    $("#detailsTable").show(0);
                    $("#saveOrder").show(0);
                    var TipoInvitado = $("#TipoInvitado").val(),
                        NombreInvitado2 = $("#NombreInvitado2").val(),
                        CedulaInvitado = $("#CedulaInvitado").val(),
                        detailsTableBody = $("#detailsTable tbody");


                    var productItem = '<tr><td>' + TipoInvitado + '</td><td>' + NombreInvitado2 + '</td><td>' + CedulaInvitado + '</td><td>' + '</td><td><a data-itemId="0" href="#" class="deleteItem">Eliminar</a></td></tr>';

                    detailsTableBody.append(productItem);


                    $("#NombreInvitado").val('');
                    $("#UsuarioInvitado").val('');
                    $("#NombreInvitado2").val('');
                    $("#CedulaInvitado").val('');

                    clearItem();
                    if ($("#TipoInvitado").val() == "Invitado") {
                        $("#ConsInvitado").hide(0);
                        $("#addToList").show(0);
                    }

                });

            }
            else {
                $("#ConsInvitado").click(function () {


                    if ($.trim($("#UsuarioInvitado").val()) == "") return;
                    var data = JSON.stringify({
                        IdAspNetUser: $("#UsuarioInvitado").val(),
                    });

                    console.log(data);

                    $.when(ConsMat(data)).then(function (response) {
                        console.log(response);
                    }).fail(function (err) {
                        console.log(err);
                    });
                });

                function ConsMat(data) {
                    return $.ajax({

                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        type: 'POST',
                        url: "/Reservaciones/Usuario3",
                        data: data,
                        success: function (result3) {
                            //alert(data)
                            //data = JSON.parse(data);
                            console.log(result3)
                            if (result3 == "") {
                                swal("¡Ups!", "El usuario no existe, favor verificar los datos", "warning");
                            }
                            else {
                                $("#NombreInvitado").val($.trim(result3[0]) + " " + result3[1]);
                                $("#ConsInvitado").hide(0);
                                $("#addToList").show(0);
                            }
                        },
                        error: function () {
                            swal("¡Error!", "Favor verificar los datos", "warning");
                        }
                    });

                }
                var cantidad = 0;

                $("#addToList").click(function (e) {
                    cantidad = cantidad + 1;
                    e.preventDefault();
                    $("#ConsInvitado").show(0);
                    $("#addToList").hide(0);
                    if ($.trim($("#TipoInvitado").val()) == "" || $.trim($("#NombreInvitado").val()) == "" || $.trim($("#UsuarioInvitado").val()) == "") return;

                    $("#detailsTable").show(0);
                    $("#saveOrder").show(0);

                    var TipoInvitado = $("#TipoInvitado").val(),
                        NombreInvitado = $("#NombreInvitado").val(),
                        IdAspNetUser = $("#UsuarioInvitado").val();
                    detailsTableBody = $("#detailsTable tbody");

                    var productItem = '<tr><td>' + TipoInvitado + '</td><td>' + NombreInvitado + '</td><td>' + IdAspNetUser + '</td><td>' + '</td><td><a data-itemId="0" href="#" class="deleteItem">Eliminar</a></td></tr>';

                    detailsTableBody.append(productItem);

                    $("#NombreInvitado").val('');
                    $("#UsuarioInvitado").val('');
                    $("#NombreInvitado2").val('');
                    $("#CedulaInvitado").val('');

                    clearItem();

                });

            }


        });

        //Add Multiple Order.
        //After Add A New Order In The List, Clear Clean The Form For Add More Order.
        function clearItem() {
            $("#NombreInvitado").val('');
            $("#UsuarioInvitado").val('');
            $("#NombreInvitado2").val('');
            $("#CedulaInvitado").val('');
        }
        // After Add A New Order In The List, If You Want, You Can Remove It.
        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {

                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                    cantidad = cantidad - 1;
                });
            }

            if (cantidad <= 0) {
                $("#saveOrder").hide(0);
            } else {
                $("#saveOrder").show(0);
            }
        });


        console.log



        //After Click Save Button Pass All Data View To Controller For Save Database
        function saveOrder(data) {
            swal({
                title: "¿Estás seguro?",
                text: "Al seleccionar OK se guardarán los datos",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        return $.ajax({
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            type: 'POST',
                            url: "/Reservaciones/SaveOrder",
                            data: data,
                            success: function (result) {
                                //alert(result);
                                swal();
                                swal("¡Reservación realizada!", result, "success")
                                    .then((value) => {
                                        location.reload();
                                    });


                            },
                            error: function () {
                                swal("¡Error!", "Favor verificar los datos", "warning");
                            }
                        });
                    }
                });

        }


        ////Collect Multiple Order List For Pass To Controller
        $("#saveOrder").click(function (e) {
            e.preventDefault();

            var orderArr = [];
            orderArr.length = 0;

            $.each($("#detailsTable tbody tr"), function () {

                var selectedValue = $("#TipoInvitado").val();
                if ($(this).find('td:eq(0)').html() == "Invitado") {
                    orderArr.push({
                        IdAspNetUser: $("#UsuarioInvitado").val(''),
                        NombreInvitado: $(this).find('td:eq(1)').html(),
                        CedulaInvitado: $(this).find('td:eq(2)').html(),
                        IdReservacion: $().val()
                    });

                }
                else {
                    orderArr.push({
                        IdAspNetUser: $(this).find('td:eq(2)').html(),
                        NombreInvitado: $("#NombreInvitado2").val(''),
                        CedulaInvitado: $("#CedulaInvitado").val(''),
                        IdReservacion: $().val()
                    });
                }



            });
            if (true) {

            }
            var data = JSON.stringify({
                HSolicitada: $("#Horaentrada").val(),
                HEntrada: $("#Horaentrada").val(),
                HSalida: $("#Horasalida").val(),
                IdAspNetUsers: $("#IdAspNetUsers").val(),
                IdAspNetUsers2: $("#IdAspNetUsers2").val(),
                NombreInvitado2: $("#NombreInvitado2").val(),
                CedulaInvitado: $("#CedulaInvitado").val(),
                reservaciones_Usuarios: orderArr
            });

            console.log(data);

            $.when(saveOrder(data)).then(function (response) {
                console.log(response);
            }).fail(function (err) {
                console.log(err);
            });
        });


        $(document).ready(
            $("#TipoInvitado").val("TipoInvitado1"),
            $("#TipoInvitado").change(function () {
                var selectedValue = $(this).val();
                if (selectedValue == "TipoInvitado1") {

                    $("#UsuarioDeEstudiante").hide(0);
                    $("#NombreDeEstudiante").hide(0);
                    $("#NombreDeInvitado").hide(0);
                    $("#CedulaDeInvitado").hide(0);
                    $("#NomInvitado").show(0);
                    $("#IdInvitado").show(0);
                    $("#NombreInvitado").val('');
                    $("#UsuarioInvitado").val('');
                    $("#NombreInvitado2").val('');
                    $("#CedulaInvitado").val('');
                    $("#ConsInvitado").hide(0);
                    $("#addToList").hide(0);

                }
                else {
                    if (selectedValue == "Estudiante/Profesor") {
                        $("#UsuarioDeEstudiante").show(0);
                        $("#NombreDeEstudiante").show(0);
                        $("#NombreDeInvitado").hide(0);
                        $("#CedulaDeInvitado").hide(0);
                        $("#NomInvitado").hide(0);
                        $("#IdInvitado").hide(0);
                        $("#NombreInvitado2").val('');
                        $("#CedulaInvitado").val('');
                        $("#ConsInvitado").show(0);
                        $("#addToList").hide(0);

                    }
                    else {

                        $("#UsuarioDeEstudiante").hide(0);
                        $("#NombreDeEstudiante").hide(0);
                        $("#NombreDeInvitado").show(0);
                        $("#CedulaDeInvitado").show(0);
                        $("#NomInvitado").hide(0);
                        $("#IdInvitado").hide(0);
                        $("#NombreInvitado").val('');
                        $("#UsuarioInvitado").val('');
                        $("#ConsInvitado").hide(0);
                        $("#addToList").show(0);

                    }
                }
            })
        );


    </script>

    <script>
        //Consultar cubículos
        function Consultar(data) {
            return $.ajax({

                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/Reservaciones/Consultar",
                data: data,
                success: function (result2) {
                    $('#Disp').append('<p id="m">' + result2 + '</p>');
                    $('#msg').val(result2);
                    $('#Disp').show(0);
                    if ($("#msg").val() == "¡Cubículos disponibles!") {
                        $('#help').hide(0);
                        $('#check').show(0);
                    }
                    else {
                        $('#help').hide(0);
                        $('#warn').show(0);

                    }
                },
                error: function () {
                    alert("Error! Verificar datos")
                }
            });
        }
        $("#Horaentrada").change(function (e) {
            e.preventDefault();
            $('#m').remove();
            $('#help').hide(0);
            $('#check').hide(0);
            $('#warn').hide(0);
            if ($.trim($("#Horaentrada").val()) == "") return;

            var data = JSON.stringify({
                HEntrada: $("#Horaentrada").val(),

            });

            console.log(data);

            $.when(Consultar(data)).then(function (response) {
                console.log(response);
            }).fail(function (err) {
                console.log(err);
            });
        });






        //Asigna Hora de salida
        $("#Horaentrada").change(function () {
            $choice = $(this).val();
            switch ($choice) {
                case "08:00:00":
                    $("#Horasalida").val("10:00:00");
                    break;
                case "08:30:00":
                    $("#Horasalida").val("10:30:00");
                    break;
                case "09:00:00":
                    $("#Horasalida").val("11:00:00");
                    break;
                case "09:30:00":
                    $("#Horasalida").val("11:30:00");
                    break;
                case "10:00:00":
                    $("#Horasalida").val("12:00:00");
                    break;
                case "10:30:00":
                    $("#Horasalida").val("12:30:00");
                    break;
                case "11:00:00":
                    $("#Horasalida").val("13:00:00");
                    break;
                case "11:30:00":
                    $("#Horasalida").val("13:30:00");
                    break;
                case "12:00:00":
                    $("#Horasalida").val("14:00:00");
                    break;
                case "12:30:00":
                    $("#Horasalida").val("14:30:00");
                    break;
                case "13:00:00":
                    $("#Horasalida").val("15:00:00");
                    break;
                case "13:30:00":
                    $("#Horasalida").val("15:30:00");
                    break;
                case "14:00:00":
                    $("#Horasalida").val("16:00:00");
                    break;
                case "14:30:00":
                    $("#Horasalida").val("16:30:00");
                    break;
                case "15:00:00":
                    $("#Horasalida").val("17:00:00");
                    break;
                case "15:30:00":
                    $("#Horasalida").val("17:30:00");
                    break;
                case "16:00:00":
                    $("#Horasalida").val("18:00:00");
                    break;
                case "16:30:00":
                    $("#Horasalida").val("18:30:00");
                    break;
                case "17:00:00":
                    $("#Horasalida").val("19:00:00");
                    break;
                case "17:30:00":
                    $("#Horasalida").val("19:30:00");
                    break;
                case "18:00:00":
                    $("#Horasalida").val("20:00:00");
                    break;
                case "18:30:00":
                    $("#Horasalida").val("20:30:00");
                    break;
                case "19:00:00":
                    $("#Horasalida").val("21:00:00");
                    break;
                case "19:30:00":
                    $("#Horasalida").val("21:00:00");
                    break;
                case "20:00:00":
                    $("#Horasalida").val("21:00:00");
                    break;
                case "20:30:00":
                    $("#Horasalida").val("21:00:00");
                    break;
                default:
                //default
            }

        });
    </script>



    @*<script>
            //Consultar cubículos
            function Consultar(data) {
                return $.ajax({

                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: "/Reservaciones/Consultar",
                    data: data,
                    success: function (result2) {
                        $('#Disp').append(result2);
                        $('#msg').val(result2);
                        $('#Disp').show(0);
                        if ($("#msg").val() == "¡Cubículos disponibles!") {
                            $('#help').hide(0);
                            $('#check').show(0);
                        }
                        else {
                            $('#help').hide(0);
                            $('#warn').show(0);

                        }
                    },
                    error: function () {
                        alert("Error! Verificar datos")
                    }
                });
            }
            $("#Consultar").one('click', function (e) {
                e.preventDefault();

                if ($.trim($("#Horaentrada").val()) == "") return;

                var data = JSON.stringify({
                    HEntrada: $("#Horaentrada").val(),

                });

                console.log(data);

                $.when(Consultar(data)).then(function (response) {
                    console.log(response);
                }).fail(function (err) {
                    console.log(err);
                });
            });


            //Asigna Hora de salida
            $("#Horaentrada").change(function () {
                $choice = $(this).val();
                switch ($choice) {
                    case "08:00:00":
                        $("#Horasalida").val("10:00:00");
                        break;
                    case "08:30:00":
                        $("#Horasalida").val("10:30:00");
                        break;
                    case "09:00:00":
                        $("#Horasalida").val("11:00:00");
                        break;
                    case "09:30:00":
                        $("#Horasalida").val("11:30:00");
                        break;
                    case "10:00:00":
                        $("#Horasalida").val("12:00:00");
                        break;
                    case "10:30:00":
                        $("#Horasalida").val("12:30:00");
                        break;
                    case "11:00:00":
                        $("#Horasalida").val("13:00:00");
                        break;
                    case "11:30:00":
                        $("#Horasalida").val("13:30:00");
                        break;
                    case "12:00:00":
                        $("#Horasalida").val("14:00:00");
                        break;
                    case "12:30:00":
                        $("#Horasalida").val("14:30:00");
                        break;
                    case "13:00:00":
                        $("#Horasalida").val("15:00:00");
                        break;
                    case "13:30:00":
                        $("#Horasalida").val("15:30:00");
                        break;
                    case "14:00:00":
                        $("#Horasalida").val("16:00:00");
                        break;
                    case "14:30:00":
                        $("#Horasalida").val("16:30:00");
                        break;
                    case "15:00:00":
                        $("#Horasalida").val("17:00:00");
                        break;
                    case "15:30:00":
                        $("#Horasalida").val("17:30:00");
                        break;
                    case "16:00:00":
                        $("#Horasalida").val("18:00:00");
                        break;
                    case "16:30:00":
                        $("#Horasalida").val("18:30:00");
                        break;
                    case "17:00:00":
                        $("#Horasalida").val("19:00:00");
                        break;
                    case "17:30:00":
                        $("#Horasalida").val("19:30:00");
                        break;
                    case "18:00:00":
                        $("#Horasalida").val("20:00:00");
                        break;
                    case "18:30:00":
                        $("#Horasalida").val("20:30:00");
                        break;
                    case "19:00:00":
                        $("#Horasalida").val("21:00:00");
                        break;
                    case "19:30:00":
                        $("#Horasalida").val("21:00:00");
                        break;
                    case "20:00:00":
                        $("#Horasalida").val("21:00:00");
                        break;
                    case "20:30:00":
                        $("#Horasalida").val("21:00:00");
                        break;
                    default:
                    //default
                }

            });
        </script>*@
















    @*<script>
            function AgregarIntegrate() {

                $('#integrantes').append('<div><div class="form-row align-items-center justify-content-between" ><div class="col-lg-3 col-md-3 col-sm-3 my-1"><select class="custom-select my-1 mr-sm-2" id="Invitado1"><option value="1" selected>Estudiante/Profesor</option><option value="2">Invitado</option></select></div><div class="col-lg-3 col-md-3 col-sm-3 my-1"><label class="sr-only" for="inlineFormInputName">Name</label><input type="text" class="form-control" id="inlineFormInputName" placeholder="Gabriela Marte" readonly></div><div class="col-lg-3 col-md-3 col-sm-3 my-1"><label class="sr-only" for="inlineFormInputGroupUsername">Usuario</label><div class="input-group"><div class="input-group-prepend"><img src="~/Content/images/at.png" alt="Matricula" width="33" /></div><input type="text" class="form-control" placeholder="gm20-0469" id="Usuario"></div></div><div class="col-auto my-1"><button onclick="Consultar()" class="btn btn-primary" id="btnConsultar">Consultar</button><button onclick="EliminarIntegrate()" class="btn btn-primary"  style="background-color:darkred" id="btn2">Eliminar</button></div></div></div>');

            }


            function EliminarIntegrante() {
                $('#integrantes').prepend();
                //$(this).children("#integrantes").remove();
            }

            function Fecha() {

                $('#fecha').get(Date);
            }

            function Consultar() {
                var data = { Usuario: $('#Usuario').val(), Reservacion: $('#Reservacion').val() };
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: "{data:" + JSON.stringify(data) + "}",
                    url: "/Reservaciones/SetRes",
                    success: function (data) {
                        //codigo de exito
                        alert("Disponible");
                    },
                    error: function (error) {
                        //codigo error
                        alert("No disponible");
                    }
                })

            }
        </script>*@


</body>
</html>