
<div class="container">
    <div class="p-3 mb-3 bg-light rounded">
        <h5 class="font-italic">UNIVERSIDAD NACIONAL PEDRO HENRÍQUEZ UREÑA (UNPHU)</h5><br />
        <p class="text-justify">
            La Universidad Nacional Pedro Henríquez Ureña (UNPHU), es una institución de educación superior, con varias décadas transitando el sendero dorado de la excelencia académica, en un campus privilegiado. Además de su recinto en Santo Domingo, cuenta con otro en la ciudad de La Vega.
            <br />
            <br />
            <strong>HISTORIA</strong>
            <br />
            La UNPHU fue fundada el 21 de abril de 1966, con carácter de institución privada, sin fines de lucro.

            El nombre de Pedro Henríquez Ureña, escogido para designar la universidad, constituye un homenaje a ese gran filólogo y humanista dominicano, gloria de las letras en América y el mundo.

            Los fundadores de la UNPHU son personalidades representativas de importantes actividades del país, los cuales se agruparon en la organización privada denominada Fundación Universitaria Dominicana Pedro Henríquez Ureña, Inc. (FUDPHU), patrocinadora de la universidad.  Su misión es la formación del recurso humano idóneo capaz de convertirse en agente de cambio, promotor del desarrollo sostenible y facilitador de los procesos de trasformación que demanda la sociedad.


            Los valores asumidos por la Universidad: compromiso, responsabilidad, integridad, ética y excelencia.

            Son más de 35,000 los profesionales egresados de la UNPHU, muchos de los cuales han sido reconocidos en el ámbito nacional e internacional por sus aportes en el desempeño profesional en las distintas áreas.

            La universidad cuenta con una amplia oferta académica de grado, postgrado y educación continuada.
            <br />
            <br />
            <strong>CONOCE NUESTRA OFERTA ACADÉMICA</strong>
            <br />
            La Universidad cuenta con el centro de simulaciones médicas más moderno de la región, llamado Centro de Operaciones en Simulación Médica Objetivamente Sistematizada (COSMOS) que tiene como objetivo proporcionar una experiencia de aprendizaje segura, que promueva la comprensión exitosa en todos los aspectos del cuidado de la salud. Las instalaciones ofrecen 300 metros cuadrados de espacio y acceso a la más avanzada tecnología de simulación para el entrenamiento médico.

            Reforzando nuestro compromiso con la investigación, establecimos el Banco Nacional de Cerebros UNPHU (BNC-UNPHU), en colaboración con el Banco Nacional de Cerebros y del Centro de Investigación de Estudios Avanzados, adscrito al Instituto Politécnico Nacional de los Estados Unidos Mexicanos y cuya coordinación está bajo la dirección del Departamento de Proyectos Especiales.

            Los bancos de cerebros son biobancos de muestras biológicas humanas dedicadas exclusivamente a la investigación de las enfermedades neurológicas, siendo el Banco Nacional de Cerebros UNPHU (BNC-UNPHU) el primero en su categoría en la región del Caribe.

            Adicionalmente desarrollamos importantes investigaciones con organismos e instituciones nacionales e internacionales, algunas con los aportes de los Fondos concursables del Fondo Nacional de Innovación y Desarrollo Científico y Tecnológico (FONDOCYT).

            La UNPHU es una institución que contribuye, a través de la educación, a la formación del ser humano como agente de cambio, competitivo en su campo profesional, comprometido con la innovación y aplicación del conocimiento para la solución de las problemáticas de la sociedad en su conjunto.

            Forma profesionales de éxito por medio de una educación integral, desarrollando habilidades profesionales, humanas y sociales.
        </p>
    </div>
</div>