
@{
    ViewBag.Title = "Ayuda | SIREON";
}

<h4>Sección de Ayuda</h4>
<br />

<div class="container">
    <div class="p-3 mb-3 bg-light rounded">
        <h5 class="font-italic">¡Tienes problemas con tu cuenta!</h5><br />
        <p class="text-justify">
            Favor dirigirse al Departamento de Cómputos  de UNPHU de 8:00 a.m. a 5:00 p.m.
            <br />

            <br />
            En caso de necesitar asistencia en linea, contactarnos a traves de nuestros canales de asistencia:
            <br />
            <br />
            <strong>
                Teléfono: (809) 562-6601 Ext. 1027
                <br />
                Correo: mesadeayuda@unphu.edu.do
            </strong>
        </p>
    </div>
</div>
<br />

<div class="container">
    <div class="p-3 mb-3 bg-light rounded">
        <h5 class="font-italic">¡Conoce mas acerca del sistema de reservación online!</h5><br />
        <p class="text-justify">
            ¿Deseas conocer cómo realizar tus solicitudes de reservación de cubículo? Descarga la guía de uso y lánzate a explorar cada uno de los servicios ofrecidos por el sistema SIREON de la biblioteca UNPHU.
            <br />
            <br />
            <a href="blank" class="btn btn-success has-icon">Descargar guía de uso</a>
        </p>
    </div>
</div>
