<head>
    <style>

        .container {
            padding: 30px;
        }
    </style>

</head>

<body>
    <div class="container">

        <embed src="~/UploadedFiles/Normas uso estudio colectivo Biblioteca UNPHU.pdf" type="application/pdf" width="1000" height="1600" />

    </div>
</body>