<head>
    <style>

        .container {
            padding: 30px;
        }
    </style>

</head>

<body>
    
    <div class="viewport-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb has-arrow">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home")">Inicio</a>
                </li>

                <li class="breadcrumb-item active" aria-current="page">Reglamento</li>
            </ol>
        </nav>
    </div>
    <div class="container">

        <embed src="~/UploadedFiles/Normas uso estudio colectivo Biblioteca UNPHU.pdf" type="application/pdf" width="1000" height="1600" />

    </div>
</body>