@{
    Layout = "~/Views/Shared/_Layout-login.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="authentication-theme auth-style_1" style="padding: 4% 0 1px 0;">
    <div class="row">
        <div class="col-12 logo-section">
            <a href='@Url.Action("Index", "Home")' class="logo">
                <img src="~/Content/images/logo2.png" alt="logo" style="width:130%" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-7 col-11 mx-auto">
            <div class="grid">
                <div class="grid-body">
                    <section id="ForgotPassword">
                        <div class="row">
                            <div class="col-lg-7 col-md-8 col-sm-9 col-12 mx-auto form-wrapper justify-content-center" style="align-content:center">
                                <div>
                                    <h6>
                                        Por favor verifique su correo y reinicie su contraseña.
                                    </h6>
                                </div>
                                <br />
                                <br />
                                <div class="form-group input-rounded">
                                    <a href='@Url.Action("Index", "Home")' class="btn btn-primary btn-block" style="background-color:green">Regresar</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<!--page body ends -->
<!-- SCRIPT LOADING START FORM HERE /////////////-->
<!-- plugins:js -->
<script src="~/Content/vendors/js/core.js"></script>
<script src="~/Content/vendors/js/vendor.addons.js"></script>
<!-- endinject -->
<!-- Vendor Js For This Page Ends-->
<!-- Vendor Js For This Page Ends-->
<!-- build:js -->
<script src="~/Content/js/template.js"></script>
<!-- endbuild -->

