<footer style="background-color:green">
    <div data-elementor-type="footer" data-elementor-id="101231" class="elementor elementor-101231 elementor-location-footer" data-elementor-settings="[]" style="align-content:center">
        <div class="elementor-inner" style="color:white">
            <div class="elementor-section-wrap" style="text-align:center">
                <section class="elementor-element elementor-element-816aa9e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="816aa9e" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-element elementor-element-09fd46f elementor-column elementor-col-100 elementor-top-column" data-id="09fd46f" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated" style="text-align:center">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-4d2db18 elementor-widget elementor-widget-text-editor" data-id="4d2db18" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-element elementor-element-590e6147 elementor-widget elementor-widget-image" data-id="590e6147" data-element_type="widget" data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image" style="text-align:center">
                                                            <a href="https://www.unphu.edu.do">
                                                                <img width="200" height="110" alt="" data-srcset="https://711394.smushcdn.com/1148942/wp-content/uploads/2020/05/logo-unphu-blanco.png?lossy=1&amp;strip=1&amp;webp=1 200w, https://711394.smushcdn.com/1148942/wp-content/uploads/2020/05/logo-unphu-blanco-120x66.png?lossy=1&amp;strip=1&amp;webp=1 120w" data-src="https://711394.smushcdn.com/1148942/wp-content/uploads/2020/05/logo-unphu-blanco.png?lossy=1&amp;strip=1&amp;webp=1" data-sizes="(max-width: 200px) 100vw, 200px" class="attachment-large size-large lazyloaded" src="https://711394.smushcdn.com/1148942/wp-content/uploads/2020/05/logo-unphu-blanco.png?lossy=1&amp;strip=1&amp;webp=1" data-pagespeed-url-hash="31059146" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" sizes="(max-width: 200px) 100vw, 200px" srcset="https://711394.smushcdn.com/1148942/wp-content/uploads/2020/05/logo-unphu-blanco.png?lossy=1&amp;strip=1&amp;webp=1 200w, https://711394.smushcdn.com/1148942/wp-content/uploads/2020/05/logo-unphu-blanco-120x66.png?lossy=1&amp;strip=1&amp;webp=1 120w"><noscript><img width="200" height="110" src="https://711394.smushcdn.com/1148942/wp-content/uploads/2020/05/logo-unphu-blanco.png?lossy=1&strip=1&webp=1" class="attachment-large size-large" alt="" srcset="https://711394.smushcdn.com/1148942/wp-content/uploads/2020/05/logo-unphu-blanco.png?lossy=1&amp;strip=1&amp;webp=1 200w, https://711394.smushcdn.com/1148942/wp-content/uploads/2020/05/logo-unphu-blanco-120x66.png?lossy=1&amp;strip=1&amp;webp=1 120w" sizes="(max-width: 200px) 100vw, 200px" data-pagespeed-url-hash="1551068975" /></noscript>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-6c6c25a5 elementor-icon-list--layout-inline elementor-align-center elementor-mobile-align-center elementor-widget elementor-widget-icon-list" data-id="6c6c25a5" data-element_type="widget" data-widget_type="icon-list.default">
                                                    <div class="elementor-widget-container">
                                                        <ul class="elementor-icon-list-items elementor-inline-items">

                                                            <li class="elementor-icon-list-item">
                                                                <span class="elementor-icon-list-icon">
                                                                    <i aria-hidden="true" class="mdi mdi-map-marker"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">Av. John F. Kennedy Km 7 1/2 Apartado Postal 1423, Santo Domingo, República Dominicana.</span>

                                                            </li>
                                                            <li>
                                                                <span class="elementor-icon-list-icon">
                                                                    <i aria-hidden="true" class="mdi mdi-cellphone"></i>
                                                                    <span class="elementor-icon-list-text">Telefono: (809) 562-6601</span>
                                                                </span>

                                                            </li>
                                                            <li>
                                                                <span class="elementor-icon-list-icon">
                                                                    <i aria-hidden="true" class="mdi mdi-email"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">info@unphu.edu.do</span>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-element elementor-element-816aa9e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="816aa9e" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-element elementor-element-09fd46f elementor-column elementor-col-100 elementor-top-column" data-id="09fd46f" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated" style="text-align:center">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-4d2db18 elementor-widget elementor-widget-text-editor" data-id="4d2db18" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <ul class="elementor-icon-list-items elementor-inline-items" style="text-align:center">
                                                    <li class="elementor-icon-list-item">
                                                        <a href="https://es-la.facebook.com/UNPHU/">
                                                            <span class="elementor-icon-list-icon">
                                                                <i aria-hidden="true" class="mdi mdi-facebook-box" style="color:white"></i>
                                                            </span>
                                                            <span class="elementor-icon-list"></span>
                                                        </a>
                                                    </li>
                                                    <li class="elementor-icon-list-item">
                                                        <a href="https://www.instagram.com/unphu/?hl=es">
                                                            <span class="elementor-icon-list-icon">
                                                                <i aria-hidden="true" class="mdi mdi-instagram" style="color:white"></i>
                                                            </span>
                                                            <span class="elementor-icon-list"></span>
                                                        </a>
                                                    </li>
                                                    <li class="elementor-icon-list-item">
                                                        <a href="https://twitter.com/unphurd?lang=es">
                                                            <span class="elementor-icon-list-icon">
                                                                <i aria-hidden="true" class="mdi mdi-twitter" style="color:white"></i>
                                                            </span>
                                                            <span class="elementor-icon-list"></span>
                                                        </a>
                                                    </li>
                                                    <li class="elementor-icon-list-item">
                                                        <a href="https://www.linkedin.com/school/universidad-nacional-pedro-henr-quez-ure-a/">
                                                            <span class="elementor-icon-list-icon">
                                                                <i aria-hidden="true" class="mdi mdi-linkedin-box" style="color:white"></i>
                                                            </span>
                                                            <span class="elementor-icon-list-text"></span>
                                                        </a>
                                                    </li>
                                                    <li class="elementor-icon-list-item">
                                                        <a href="https://www.youtube.com/user/UNPHURD">
                                                            <span class="elementor-icon-list-icon">
                                                                <i aria-hidden="true" class="mdi mdi-youtube" style="color:white"></i>
                                                            </span>
                                                            <span class="elementor-icon-list-text"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-element elementor-element-816aa9e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="816aa9e" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-element elementor-element-09fd46f elementor-column elementor-col-100 elementor-top-column" data-id="09fd46f" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated" style="text-align:center">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-4d2db18 elementor-widget elementor-widget-text-editor" data-id="4d2db18" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-text-editor elementor-clearfix"><p style="color:#fff !important;"><a href="https://unphu.edu.do/" target="_blank" alt="Enlace a UNPHU" style="text-decoration:none !important; color:#fff!important;" rel="noopener"> Universidad Nacional Pedro Henríquez Ureña – UNPHU</a>&nbsp;© 1966 – 2020. Todos los derechos reservados</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</footer>