<nav class="t-header">
    <div class="t-header-brand-wrapper">
        <a href='@Url.Action("Index", "Home")'>
            <img class="logo" src="~/Content/images/logo.png" alt="" style="width:150px;height:90px">
            <img class="logo-mini" src="~/Content/images/logo mini.png" style="width:90px;height:50px">
        </a>

    </div>
    <div class="t-header-content-wrapper">
        <div class="t-header-content">

            <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none">
                <i class="mdi mdi-menu"></i>
            </button>
          
            <ul class="nav ml-auto">
                <li>
                    <h2>
                       @Html.Partial("_LoginPartial")                        
                    </h2>
                </li>
            </ul>
        </div>
    </div>
</nav>